.vscode/
Logs/
Temp/
Library/ArtifactDB
Library/PackageManager/ProjectCache.bin
Library/ScriptAssemblies/Unity.2D.Sprite.Editor.dll
Library/ScriptAssemblies/Unity.2D.Sprite.Editor.pdb
Library/ScriptAssemblies/Unity.2D.Tilemap.Editor.dll
Library/ScriptAssemblies/Unity.2D.Tilemap.Editor.pdb
Library/ScriptAssemblies/Unity.Analytics.DataPrivacy.dll
Library/ScriptAssemblies/Unity.Analytics.DataPrivacy.pdb
Library/ScriptAssemblies/Unity.CollabProxy.Editor.dll
Library/ScriptAssemblies/Unity.CollabProxy.Editor.pdb
Library/ScriptAssemblies/Unity.Rider.Editor.dll
Library/ScriptAssemblies/Unity.Rider.Editor.pdb
Library/ScriptAssemblies/Unity.TextMeshPro.dll
Library/ScriptAssemblies/Unity.TextMeshPro.Editor.dll
Library/ScriptAssemblies/Unity.TextMeshPro.Editor.pdb
Library/ScriptAssemblies/Unity.TextMeshPro.pdb
Library/ScriptAssemblies/Unity.Timeline.dll
Library/ScriptAssemblies/Unity.Timeline.Editor.dll
Library/ScriptAssemblies/Unity.Timeline.Editor.pdb
Library/ScriptAssemblies/Unity.Timeline.pdb
Library/ScriptAssemblies/Unity.VisualStudio.Editor.dll
Library/ScriptAssemblies/Unity.VisualStudio.Editor.pdb
Library/ScriptAssemblies/Unity.VSCode.Editor.dll
Library/ScriptAssemblies/Unity.VSCode.Editor.pdb
Library/ScriptAssemblies/UnityEditor.Purchasing.dll
Library/ScriptAssemblies/UnityEditor.Purchasing.pdb
Library/ScriptAssemblies/UnityEditor.SpatialTracking.dll
Library/ScriptAssemblies/UnityEditor.SpatialTracking.pdb
Library/ScriptAssemblies/UnityEditor.TestRunner.dll
Library/ScriptAssemblies/UnityEditor.TestRunner.pdb
Library/ScriptAssemblies/UnityEditor.UI.dll
Library/ScriptAssemblies/UnityEditor.UI.pdb
Library/ScriptAssemblies/UnityEditor.XR.LegacyInputHelpers.dll
Library/ScriptAssemblies/UnityEditor.XR.LegacyInputHelpers.pdb
Library/ScriptAssemblies/UnityEngine.Advertisements.dll
Library/ScriptAssemblies/UnityEngine.Advertisements.pdb
Library/ScriptAssemblies/UnityEngine.Monetization.dll
Library/ScriptAssemblies/UnityEngine.Monetization.pdb
Library/ScriptAssemblies/UnityEngine.Purchasing.dll
Library/ScriptAssemblies/UnityEngine.Purchasing.pdb
Library/ScriptAssemblies/UnityEngine.SpatialTracking.dll
Library/ScriptAssemblies/UnityEngine.SpatialTracking.pdb
Library/ScriptAssemblies/UnityEngine.TestRunner.dll
Library/ScriptAssemblies/UnityEngine.TestRunner.pdb
Library/ScriptAssemblies/UnityEngine.UI.dll
Library/ScriptAssemblies/UnityEngine.UI.pdb
Library/ScriptAssemblies/UnityEngine.XR.LegacyInputHelpers.dll
Library/ScriptAssemblies/UnityEngine.XR.LegacyInputHelpers.pdb
Library/shadercompiler-UnityShaderCompiler.exe0.log
Library/SourceAssetDB
